Durée :
<input type="number" [(ngModel)]="dto.dureeAAjouter"/>
jours.
<br />
<input type="radio" id="ajout" [checked]="!dto.isRetrait" [value]="false" [(ngModel)]="dto.isRetrait"  />
Ajout
<input type="radio" id="retrait" [checked]="dto.isRetrait"  [value]="true" [(ngModel)]="dto.isRetrait" />
Retrait
<br />
<input type="radio" id="annee" [checked]="!dto.isAnneePrecedente" [value]="false" [(ngModel)]="dto.isAnneePrecedente" />
Cette année
<input type="radio" id="anneen1" [checked]="dto.isAnneePrecedente"  [value]="true" [(ngModel)]="dto.isAnneePrecedente" />
Année précédente
<br />
<app-liste-motif-compteur (changeMotifCompteur)="changeValueMotifCompteur($event);" [typeAbsencePourMotif]="typeAbsence"></app-liste-motif-compteur>
<button (click)="postChange()">Valider</button>
