<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align: center">
	<h1>Welcome to {{ title }}!</h1>

	<span>Liste des groupes d'absence :</span> <SELECT
		(change)="onChange($event)" ngDefaultControl>
		<option *ngFor="let d of listeGroupeAbsence"
			[value]="d.idRefGroupeAbsence">{{d.libelle}}</option>
	</SELECT>

	<h2 *ngIf="selectedGroupeAbsence">Liste des types d'absence :</h2>
	<SELECT *ngIf="selectedGroupeAbsence">
		<option *ngFor="let d of listeTypeAbsence">{{d.libelle}}</option>
	</SELECT>

</div>
